@{
    ViewBag.Title = "UploadFileDelete";
}

<h2>UploadFileDelete</h2>

@using (Html.BeginForm("UploadFileDelete", "Jugador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Subir" />

        @ViewBag.Message
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
